#outside {
  z-index: 1;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
  top:20 px
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

#outside-pic {
  width: 250px;
  height: 300px;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

#inside-pic {
  width: 200px;
  height: 250px;
}

#message {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

button {
  background: silver;
}
#p1 {
  color:yellow;
  background-color: black;
  font-family: sans-serif;
}

#game1 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  text-align: center;
} 

#game2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
